body {
  font-family: Arial;
  margin: 0;
  background: linear-gradient(to right, #dbeafe, #fef9c3);
}

.header {
  text-align: center;
  background: #1e3a8a;
  color: white;
  padding: 15px;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card, .leaderboard {
  background: white;
  padding: 20px;
  border-radius: 12px;
  border: 3px solid #2563eb;
  width: 300px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

button {
  padding: 10px;
  width: 100%;
  background: #16a34a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.hidden { display: none; }
.option {
  background: #e0f2fe;
  margin: 5px;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}
